@using WishList.Models
@model List<Item>

<h1>WishList</h1>

<a asp-action="create">Add item</a>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description <a asp-action="delete" asp-route-id="@item.ID">Delete</a></li>
    }
</ul>
